<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    
    <a href="soma"><button type="submit">Somar</button></a>
    <a href="subtracao"><button type="submit">Subtrair</button></a>
    <a href="divisao"><button type="submit">Dividir</button></a>
    <a href="multiplicacao"><button type="submit">Multiplicar</button></a>
    <a href="potencia"><button type="submit">Potência</button></a>
    <a href="raiz"><button type="submit">Raiz</button></a>
    <a href="tabuada"><button type="submit">Tabuada</button></a>

</body>
</html>