<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' type='text/css>' href="{{ url_for('static',filename='css/estilo.css)}}"/>3w34444
    <title>Soma</title>
</head>
<body>
 <form action="/soma" method="POST">

    <label> for="number1">Número 01:</label>
     <input type="number" name="num1" class="form-control" id="number1" placeholder="Informe um Número">

     <label> for="number2">Número 02:</label>
         <input type="number" name="num1" class="form-control" id="number2" placeholder="Informe o segundo Número">


     <button type="submit" class="botao">Somar</button>
 </form>

</body>
</html>
